# Auto detect text files and perform LF normalization
* text=auto

# HTML files
*.html text eol=lf

# Markdown files
*.md text eol=lf

# Git ignore files
.gitignore text eol=lf
.gitattributes text eol=lf

